@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

:root {
  --scale-factor: 2;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: sans-serif;
}

.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  width: 90%;
  height: 90%;
}

.card {
  position: relative;
  width: 100%;
  padding-bottom: 140%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  border: calc(1px * var(--scale-factor)) solid #333;
  border-radius: calc(3px * var(--scale-factor));
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: calc(2px * var(--scale-factor));
  text-align: center;
  font-size: calc(8px * var(--scale-factor));
  font-weight: bold;
  color: #eee;
}

.description-container {
  position: absolute;
  bottom: calc(16px * var(--scale-factor));
  left: calc(2px * var(--scale-factor));
  right: calc(2px * var(--scale-factor));
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: calc(6px * var(--scale-factor));
  border-radius: calc(3px * var(--scale-factor));
}

.description {
  font-size: calc(5px * var(--scale-factor));
  color: #eee;
}

.flavor-text {
  font-size: calc(3px * var(--scale-factor));
  color: #999;
}

.health {
  position: absolute;
  bottom: calc(6px * var(--scale-factor));
  right: calc(6px * var(--scale-factor));
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: calc(12px * var(--scale-factor));
  height: calc(12px * var(--scale-factor));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(8px * var(--scale-factor));
  font-weight: bold;
  color: #eee;
}
